<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @company.name %>
  <p>Median Subaccount ID: <%= @company.median_subaccount.subaccount_id %></p>
</p

<%= link_to 'Edit', edit_company_path(@company) %> |
<%= link_to 'Back', companies_path %>
